
// remove below

* {
    box-sizing: border-box;
}

body {
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    font-family: Roboto,sans-serif;
    font-size: 14px;
}

// .dda-dropdown-list {
//     border: 2px solid #8eab7d!important;
// }

// .dda-dropdown-list > div {
//     border-bottom: solid 1px #8eab7d!important;
// }

// .dda-dropdown-list > div:hover {
//     background: #8eab7d!important;
//     color: #f6ffae;
// }

.material-icons.md-18 { font-size: 18px; }

#strip {
    height: 55px;
    padding: 10px 0 10px 30px;
    background-color: #888882;
    color: #f7f7f7;
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
}

#root .nav-l-2 {
    height: 30px;
    border-top: 1px solid transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.pull-right {
    float: right !important;
}

#root .nav-l-2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#root .nav-l-2 ul li a {
    padding: 6px 10px 5px 10px;
    display: block;
}

.example {
    position: relative;
    width: 100px;
    text-align: center;
    background-color: #dadada;
    color: #331717;
    margin-top: 10px;
    margin-left: 120px;
    padding: 3px;
    border: 2px solid #235d7d;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.example:hover {
    border: 2px solid rgb(167, 167, 33);
}

.flex-row {
    display: flex;
}

.column1 {
    width: 400px;
    padding: 10px;
    border-top: 1px solid darkgray;
}

.column2 {
    flex: 1;
    overflow-x: auto;
    padding: 10px;
    border-left: 1px solid darkgray;
    border-top: 1px solid darkgray;
}

pre {
    white-space: pre-wrap;
}

// .row:after {
//     content: "";
//     display: table;
//     clear: both;
// }

@media (max-width: 1000px) {
    pre {
        white-space: pre;
    }

    .column1 {
        width: 250px;
    }

    .column2 {
        overflow-x: auto;
    }
   
    .example {
        margin-left: 50px;
    }
}

@media (max-width: 600px) {
    pre {
        white-space: pre;
    }

    .flex-row {
        display: inline;
        position: relative;
    }
    .column1 {
        position: relative;
        width: 100%;
    }
    .column2 {
        overflow-x: auto;
        border-top: 0px;
        border-left: 0px
    }
    .example {
        position: absolute;
        top: 70px;
        left: 190px;
        line-height: 40px;
    }
}

.my-header {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 20px 0;
}

// till here -------------------------------


#root2 {
    display:inline-block; 
    padding: 10px;
    width: 100px;
    background: #b12626;
    color: white;
}
